[Desktop Entry]
Name=PlayMidi
Comment=Play MIDI Files
Comment[pl]=Odtwarzacz plików MIDI
Exec=xplaymidi
Terminal=false
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
