[Desktop Entry]
Name=PlayMidi
Comment=Play MIDI Files
Comment[pl]=Odtwarzacz plików MIDI
Exec=xplaymidi
Terminal=0
Type=Application
# vi: encoding=utf-8
